body {
    font-family: sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    width: -webkit-fill-available;
}

header {
    background: linear-gradient(45deg, transparent, #6e6eb1);
    padding: 15px;
}  

.menu  a {
    text-decoration: none;
    margin: 5px;
    color: rgb(239, 236, 247);
    font-weight: bold;
    cursor: pointer;

}

.menu {
    display: flex;
    justify-content: center;
    background-color: rgb(49, 48, 139);
}

.tabela {
    border: black;
    width: 100%;
    border-spacing: 0px;
}

.tabela tr:nth-child(1) {
    vertical-align: auto;
    background-color: black;
    color: white;
    font-weight: bold;
}

.tabela tr td {
    padding: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    
}

.xp-sim, .xp-nao {
    cursor: pointer;
}